body{
    font-family: 'Lora', serif !important;
}


.about_bg{
    background-image: url(../images/about_us_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.mytitle
{

    color: #FFFFFF;
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 20px;
}
.mytitle2
{

    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 30px;
}
.introduce
{
    height: 200px;
    margin-top: 100px;
    margin-bottom: 150px;

}
.introduce_img
{
    height: 60px;
    margin-top: 60px;
}

.bg1 {
    background-color: #F85A40;
}

.bg2 {
    background-color: #F47721;
}

.bg3 {
    background-color: #0099EA;
}

.bg4 {
    background-color: #562E19;
}

.bg1:hover{
    background-color:#ec3f22;
}
.bg2:hover{
    background-color: #d56110;
}
.bg3:hover{
    background-color:#095b86;
}
.bg4:hover{
    background-color: #29180f;
}