@charset "utf-8";
/* CSS Document */

.news_box
{
	height: 450px;
	border: 2px #ffffff solid;
	margin:0px;
	padding-top: 30px;
	
}

.input_css
{
	height: 40px;
	margin-bottom: 20px;
	color: #ffffff;
	border:2px solid #ffffff;
	font-size: 17px;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
	background-color:transparent;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
}

.input_css2
{
	height: 40px;
	margin-bottom: 20px;
	color: #ffffff;
	/* border:2px solid #2D6CDF; */
	border:2px solid #ffffff;
	font-size: 17px;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
	background-color:transparent;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
}

.v_code_css
{
	height: 40px;
}

.v_code_css2
{
	height: 50px;
	padding-top: 20px;
}


.login_css
{
	margin-top: 50px;
}

.findBox
{
	
	border: 0px;
	margin:0px;
	padding: 30px;
	background-color:rgb(0,0,0,0.5);

}

