.my_title
{
    color: #FFFFFF;
    padding: 30px 0 0 0;
    font-family: 'Lora', serif;
}

.my_title2
{
    padding: 45px 0 0 0;
    font-family: 'Lora', serif;
}
.login_body
{

    background-color: #FFFFFF;
    height: 450px;
    margin-top: 40px;
    padding: 0px;
}

.login_div
{

    height: 100%;
    padding: 0px;
    margin: 0px;
}

.img_div
{
    background-image:url("../images/small1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
    font-family: 'Lora', serif;
}

.login_input
{
    border:solid #000000 1px;
    height: 40px;
    margin-top: 30px;
}

.captcha_css
{
    margin-top: 30px;
    height: 40px;

}

.refreshImg_css
{
    text-decoration: none;
    margin-top: 5px;
    color:#2D6CDF ;
}
a:hover{
    color: #003f87;
    text-decoration: none;
}

.login_submit
{
    border:0px;
    height: 40px;
    margin-top: 60px;
    background-color: #2D6CDF;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    font-size: 20px;
}

button.login_submit:hover {
    background-color:#003f87;
    color: #FFFFFF;
}

.my_context1
{
    margin-top: 100px;
}
.my_context2
{
    margin-top: 40px;
}
.my_context3
{
    margin-top: 100px;
}