<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!--
        SpringMVC 只管网站页面跳转逻辑
     -->

    <!-- 配置自动扫描的包，springMVC只扫描控制器，禁用掉默认的过滤行为，使我们的include-filter生效 -->
    <context:component-scan base-package="com.trainingcenter" use-default-filters="false">
        <!-- 只扫描 标注了@Controller 的 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <!-- 指定所有页面的前缀 -->
        <property name="prefix" value="/WEB-INF/pages/"/>

        <!-- 指定所有页面的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 正确处理动态资源 -->
    <mvc:annotation-driven/>

    <!-- 正确处理静态资源 -->
    <mvc:default-servlet-handler/>

</beans>