@charset "utf-8";
/* CSS Document */

body
{
	margin: 0;/*外边距*/
	padding: 0;/*内边距*/
	font-family: 仿宋;/*设置字体*/
	overflow: hidden;
	position: fixed;
	width:100%;
	height:100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



input::-webkit-input-placeholder { /* WebKit browsers */ 
font-size: 16px;
color:#CDC9C9; 

} 

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
font-size: 16px;
color:#CDC9C9; 

} 

input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
font-size: 16px;
color:#CDC9C9; 

} 

input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
font-size: 16px;
color:#CDC9C9; 

} 

.search_box_css
{
	height: 40px;
	width: 110%;
	margin-left: 30px;
	border:1px #000000 solid !important;
	background:url("../images/search_img.png") no-repeat 0 0;
	background-position: 350px 7px; 

}

.search_sub_css
{
	background-color: transparent; 
	border: 0px;
	margin-top: 3px;
	margin-left: -45px;
	height: 40px;
	width: 40px;
}

.news_box
{
	height: 450px;
	border: 1px #ffffff solid;
	margin:0px;
	padding-top: 30px;
	
}

.input_css
{
	height: 40px;
	margin-bottom: 20px;
	color: #ffffff;
	border:1px solid #ffffff;
	font-size: 17px;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
	background-color:transparent;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
}

.v_code_css
{
	height: 40px;
}

.login_css
{
	margin-top: 50px;
}