<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingcenter.dao.CommentMapper">
    <!--使用二级缓存-->
    <cache-ref namespace="com.trainingcenter.dao.UserMapper"></cache-ref>


    <sql id="trainingdynamiccolumns">
      id,title,content,reply_count,praise_count,create_user_id,create_date,update_user_id,update_date,state
    </sql>

    <!-- public Comment getCommentById(@Param("id") String id);
        通过id获取动态培训
    -->
    <select id="getCommentById" resultType="com.trainingcenter.bean.Comment">
        SELECT <include refid="trainingdynamiccolumns"></include>
        FROM tab_comment
        WHERE id = #{id}
    </select>

    <!-- public List<Resource> getResources(@Param("start") Integer start, @Param("number") Integer number,
                                       @Param("condition") Map<String,Object> condition);
        分页查询所有资源
    -->
    <select id="getComments" resultType="com.trainingcenter.bean.Comment">
        SELECT <include refid="trainingdynamiccolumns"/>
        FROM tab_comment
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="condition != null">

                <foreach collection="condition" index="key" item="value">
                    <if test="key == &quot;content&quot; and value != null and value != '' ">
                        and `content` = #{value}
                    </if>
                    <if test="key == &quot;title&quot; and value != null and value != '' ">
                        and `title` = #{value}
                    </if>
                    <if test="(key == &quot;comment_id&quot; or key == &quot;commentId&quot;) and value != null and value != '' ">
                        and comment_id = #{value}
                    </if>
                    <if test="(key == &quot;reply_count&quot; or key == &quot;replyCount&quot;) and value != null ">
                        and `reply_count` = #{value}
                    </if>
                    <if test="key == &quot;state&quot; and value != null ">
                        and state = #{value}
                    </if>
                    <if test="(key == &quot;praise_count&quot; or key == &quot;praiseCount&quot;)  and value != null ">
                        and `praise_count` = #{value}
                    </if>
                    <if test="(key == &quot;createUserId&quot; or key == &quot;create_user_id&quot;) and value != null and value != '' ">
                        and create_user_id = #{value}
                    </if>
                    <if test="(key == &quot;updateUserId&quot; or key == &quot;update_user_id&quot;) and value != null and value != '' ">
                        and update_user_id = #{value}
                    </if>
                    <if test="key == &quot;searchContent&quot; and value != null and value != '' ">
                        and
                        (
                        `content` like CONCAT('%',#{value},'%')
                        OR reply_count like CONCAT('%',#{value},'%')
                        OR praise_count like CONCAT('%',#{value},'%')
                        OR title like CONCAT('%',#{value},'%')
                        )
                    </if>
                </foreach>
            </if>
        </trim>
        ORDER BY praise_count DESC
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>

    <!--
    public Integer add(@Param("comment") Comment comment;
    动态培训添加，需要开启 Mysql 的allowMultiQueries连接属性，即连接时添加allowMultiQueries=true
    -->
    <insert id="add" parameterType="com.trainingcenter.bean.Comment">
        INSERT INTO tab_comment(<include refid="trainingdynamiccolumns"></include>)
        VALUES (#{comment.id},#{comment.title},#{comment.content},#{comment.replyCount},#{comment.praiseCount},#{comment.createUserId},#{comment.createDate},#{comment.updateUserId},#{comment.updateDate},
        #{comment.state})
    </insert>

    <!--
            public Integer update(@Param("comment") Comment comment);
            更新动态培训信息
            -->
    <update id="update" parameterType="com.trainingcenter.bean.Comment">
        UPDATE tab_comment
        <trim prefix="set" suffixOverrides=",">
            <if test="comment.title != null and comment.title != '' ">
                title = #{comment.title},
            </if>
            <if test="comment.content != null and comment.content != '' ">
                content = #{comment.content},
            </if>
            <if test="comment.replyCount != null">
                reply_count = #{comment.reply_count},
            </if>
            <if test="comment.praiseCount != null">
                praise_count = #{comment.praise_count},
            </if>
            <if test="comment.createUserId != null and comment.createUserId != '' ">
                create_user_id = #{comment.createUserId},
            </if>
            <if test="comment.createDate != null ">
                create_date = #{comment.createDate},
            </if>
            <if test="comment.updateUserId != null and comment.updateUserId != '' ">
                update_user_id = #{comment.updateUserId},
            </if>
            <if test="comment.updateDate != null ">
                update_date = #{comment.updateDate},
            </if>
            <if test="comment.state != null ">
                state = #{comment.state},
            </if>


        </trim>
        WHERE id = #{comment.id}
    </update>

    <!--
       public Integer delete(@Param("id") String id);
       通过id删除动态培训
       -->
    <delete id="delete">
        DELETE FROM tab_comment
        WHERE id = #{id}
    </delete>
</mapper>