<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingcenter.dao.CulturalProductsMapper">
    <!--使用二级缓存-->
    <cache-ref namespace="com.trainingcenter.dao.UserMapper"></cache-ref>


    <sql id="culturalProductscolumns">
      id,title,imgs,content,remarks,createUserId,createDate,updateUserId,updateDate
    </sql>

    <!-- public CulturalProducts getCulturalProductsById(@Param("id") String id);
        通过id获取动态培训
    -->
    <select id="getCulturalProductsById" resultType="com.trainingcenter.bean.CulturalProducts">
        SELECT <include refid="culturalProductscolumns"></include>
        FROM tab_cultural_products
        WHERE id = #{id}
    </select>

    <!-- public List<CulturalProducts> getCulturalProductss(Integer start, Integer number, String searchContent);
        分页查询所有动态培训
    -->
    <select id="getCulturalProductss" resultType="com.trainingcenter.bean.CulturalProducts">
        SELECT <include refid="culturalProductscolumns"></include>
        FROM tab_cultural_products
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="condition != null">
                <foreach collection="condition" index="key" item="value">
                    <if test="key == &quot;title&quot; and value != null and value != '' ">
                        and title = #{value}
                    </if>
                    <if test="key == &quot;content&quot; and value != null and value != '' ">
                        and  content= #{value}
                    </if>
                    <if test="key == &quot;remarks&quot; and value != null ">
                        and remarks = #{value}
                    </if>
                    <if test="(key == &quot;createUserId&quot; or key == &quot;create_user_id&quot;) and value != null and value != '' ">
                        and create_user_id = #{value}
                    </if>
                    <if test="(key == &quot;updateUserId&quot; or key == &quot;update_user_id&quot;) and value != null and value != '' ">
                        and update_user_id = #{value}
                    </if>
                    <if test="key == &quot;searchContent&quot; and value != null and value != '' ">
                        and
                        (
                        title like CONCAT('%',#{value},'%')
                        OR content like CONCAT('%',#{value},'%')
                        OR state like CONCAT('%',#{value},'%')
                        OR remarks like CONCAT('%',#{value},'%')
                        )
                    </if>
                </foreach>
            </if>
        </trim>
        ORDER BY create_date DESC
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>

    <!--
    public Integer add(@Param("culturalProducts") CulturalProducts culturalProducts;
    动态培训添加，需要开启 Mysql 的allowMultiQueries连接属性，即连接时添加allowMultiQueries=true
    -->
    <insert id="add" parameterType="com.trainingcenter.bean.CulturalProducts">
        INSERT INTO tab_cultural_products(<include refid="culturalProductscolumns"></include>)
        VALUES (#{culturalProducts.id},#{culturalProducts.title},#{culturalProducts.imgs},#{culturalProducts.content},#{culturalProducts.remarks},#{culturalProducts.createUserId},#{culturalProducts.createDate},
        #{culturalProducts.updateUserId},#{culturalProducts.updateDate})
    </insert>

    <!--
            public Integer update(@Param("culturalProducts") CulturalProducts culturalProducts);
            更新动态培训信息
            -->
    <update id="update" parameterType="com.trainingcenter.bean.CulturalProducts">
        UPDATE tab_cultural_products
        <trim prefix="set" suffixOverrides=",">
            <if test="culturalProducts.title != null and culturalProducts.title != '' ">
                title = #{culturalProducts.title},
            </if>
            <if test="culturalProducts.imgs != null and culturalProducts.imgs != '' ">
                imgs = #{culturalProducts.imgs},
            </if>
            <if test="culturalProducts.content != null and culturalProducts.content != '' ">
                content = #{culturalProducts.content},
            </if>
            <if test="culturalProducts.remarks != null and culturalProducts.remarks != '' ">
                remarks = #{culturalProducts.remarks},
            </if>
            <if test="culturalProducts.createUserId != null and culturalProducts.createUserId != '' ">
                createUserId = #{culturalProducts.createUserId},
            </if>
            <if test="culturalProducts.createDate != null ">
                createDate = #{culturalProducts.createDate},
            </if>
            <if test="culturalProducts.updateUserId != null and culturalProducts.updateUserId != '' ">
                updateUserId = #{culturalProducts.updateUserId},
            </if>
            <if test="culturalProducts.updateDate != null ">
                updateDate = #{culturalProducts.updateDate},
            </if>

        </trim>
        WHERE id = #{culturalProducts.id}
    </update>

    <!--
       public Integer delete(@Param("id") String id);
       通过id删除动态培训
       -->
    <delete id="delete">
        DELETE FROM tab_cultural_products
        WHERE id = #{id}
    </delete>
</mapper>