<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingcenter.dao.InterviewTeachingMapper">
    <!--使用二级缓存-->
    <cache-ref namespace="com.trainingcenter.dao.UserMapper"></cache-ref>


    <sql id="interviewTeachingcolumns">
      id,title,imgs,content,remarks,createUserId,createDate,updateUserId,updateDate
    </sql>

    <!-- public InterviewTeaching getInterviewTeachingById(@Param("id") String id);
        通过id获取动态培训
    -->
    <select id="getInterviewTeachingById" resultType="com.trainingcenter.bean.InterviewTeaching">
        SELECT <include refid="interviewTeachingcolumns"></include>
        FROM tab_interview_teaching
        WHERE id = #{id}
    </select>

    <!-- public List<InterviewTeaching> getInterviewTeachings(Integer start, Integer number, String searchContent);
        分页查询所有动态培训
    -->
    <select id="getInterviewTeachings" resultType="com.trainingcenter.bean.InterviewTeaching">
        SELECT <include refid="interviewTeachingcolumns"></include>
        FROM tab_interview_teaching
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="condition != null">
                <foreach collection="condition" index="key" item="value">
                    <if test="key == &quot;title&quot; and value != null and value != '' ">
                        and title = #{value}
                    </if>
                    <if test="key == &quot;content&quot; and value != null and value != '' ">
                        and  content= #{value}
                    </if>
                    <if test="key == &quot;remarks&quot; and value != null ">
                        and remarks = #{value}
                    </if>
                    <if test="(key == &quot;createUserId&quot; or key == &quot;create_user_id&quot;) and value != null and value != '' ">
                        and create_user_id = #{value}
                    </if>
                    <if test="(key == &quot;updateUserId&quot; or key == &quot;update_user_id&quot;) and value != null and value != '' ">
                        and update_user_id = #{value}
                    </if>
                    <if test="key == &quot;searchContent&quot; and value != null and value != '' ">
                        and
                        (
                        title like CONCAT('%',#{value},'%')
                        OR content like CONCAT('%',#{value},'%')
                        OR state like CONCAT('%',#{value},'%')
                        OR remarks like CONCAT('%',#{value},'%')
                        )
                    </if>
                </foreach>
            </if>
        </trim>
        ORDER BY create_date DESC
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>

    <!--
    public Integer add(@Param("interviewTeaching") InterviewTeaching interviewTeaching;
    动态培训添加，需要开启 Mysql 的allowMultiQueries连接属性，即连接时添加allowMultiQueries=true
    -->
    <insert id="add" parameterType="com.trainingcenter.bean.InterviewTeaching">
        INSERT INTO tab_interview_teaching(<include refid="interviewTeachingcolumns"></include>)
        VALUES (#{interviewTeaching.id},#{interviewTeaching.title},#{interviewTeaching.imgs},#{interviewTeaching.content},#{interviewTeaching.remarks},#{interviewTeaching.createUserId},#{interviewTeaching.createDate},
        #{interviewTeaching.updateUserId},#{interviewTeaching.updateDate})
    </insert>

    <!--
            public Integer update(@Param("interviewTeaching") InterviewTeaching interviewTeaching);
            更新动态培训信息
            -->
    <update id="update" parameterType="com.trainingcenter.bean.InterviewTeaching">
        UPDATE tab_interview_teaching
        <trim prefix="set" suffixOverrides=",">
            <if test="interviewTeaching.title != null and interviewTeaching.title != '' ">
                title = #{interviewTeaching.title},
            </if>
            <if test="interviewTeaching.imgs != null and interviewTeaching.imgs != '' ">
                imgs = #{interviewTeaching.imgs},
            </if>
            <if test="interviewTeaching.content != null and interviewTeaching.content != '' ">
                content = #{interviewTeaching.content},
            </if>
            <if test="interviewTeaching.remarks != null and interviewTeaching.remarks != '' ">
                remarks = #{interviewTeaching.remarks},
            </if>
            <if test="interviewTeaching.createUserId != null and interviewTeaching.createUserId != '' ">
                createUserId = #{interviewTeaching.createUserId},
            </if>
            <if test="interviewTeaching.createDate != null  ">
                createDate = #{interviewTeaching.createDate},
            </if>
            <if test="interviewTeaching.updateUserId != null and interviewTeaching.updateUserId != '' ">
                updateUserId = #{interviewTeaching.updateUserId},
            </if>
            <if test="interviewTeaching.updateDate != null ">
                updateDate = #{interviewTeaching.updateDate},
            </if>

        </trim>
        WHERE id = #{interviewTeaching.id}
    </update>

    <!--
       public Integer delete(@Param("id") String id);
       通过id删除动态培训
       -->
    <delete id="delete">
        DELETE FROM tab_interview_teaching
        WHERE id = #{id}
    </delete>
</mapper>