<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingcenter.dao.ResourceMapper">
    <!--使用二级缓存-->
    <cache-ref namespace="com.trainingcenter.dao.UserMapper"/>


    <sql id="resourceColumns">
      id,`name`,url,state,parent_id,order_number,`level`,icon_style,`describe`,remarks,create_user_id,create_date,update_user_id,update_date
    </sql>

    <!-- public Resource getResourceById(@Param("id") String id);
        通过id获取资源
    -->
    <select id="getResourceById" resultType="com.trainingcenter.bean.Resource">
        SELECT
        <include refid="resourceColumns"/>
        FROM tab_resource
        WHERE id = #{id}
    </select>

    <!-- public List<Resource> getResources(@Param("start") Integer start, @Param("number") Integer number,
                                       @Param("condition") Map<String,Object> condition);
        分页查询所有资源
    -->
    <select id="getResources" resultType="com.trainingcenter.bean.Resource">
        SELECT <include refid="resourceColumns"/>
        FROM tab_resource
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="condition != null">
                <foreach collection="condition" index="key" item="value">
                    <if test="key == &quot;name&quot; and value != null and value != '' ">
                        and `name` = #{value}
                    </if>
                    <if test="key == &quot;url&quot; and value != null and value != '' ">
                        and url = #{value}
                    </if>
                    <if test="key == &quot;state&quot; and value != null ">
                        and state = #{value}
                    </if>
                    <if test="(key == &quot;parentId&quot; or key == &quot;parent_id&quot;) and value != null ">
                        and parent_id = #{value}
                    </if>
                    <if test="(key == &quot;orderNumber&quot; or key == &quot;order_number&quot;) and value != null ">
                        and order_number = #{value}
                    </if>
                    <if test="key == &quot;level&quot; and value != null ">
                        and `level` = #{value}
                    </if>
                    <if test="(key == &quot;iconStyle&quot; or key == &quot;icon_style&quot;) and value != null ">
                        and icon_style = #{value}
                    </if>
                    <if test="(key == &quot;createUserId&quot; or key == &quot;create_user_id&quot;) and value != null and value != '' ">
                        and create_user_id = #{value}
                    </if>
                    <if test="(key == &quot;updateUserId&quot; or key == &quot;update_user_id&quot;) and value != null and value != '' ">
                        and update_user_id = #{value}
                    </if>
                    <if test="key == &quot;searchContent&quot; and value != null and value != '' ">
                        and
                        (
                        `name` like CONCAT('%',#{value},'%')
                        OR url like CONCAT('%',#{value},'%')
                        OR state like CONCAT('%',#{value},'%')
                        OR order_number like CONCAT('%',#{value},'%')
                        OR `level` like CONCAT('%',#{value},'%')
                        OR icon_style like CONCAT('%',#{value},'%')
                        )
                    </if>
                </foreach>
            </if>
        </trim>
        ORDER BY order_number ASC,create_date ASC
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>

    <!--
        public Integer add(@Validated(value = {TC_Add.class}) @Param("resource") Resource resource);
        资源添加
    -->
    <insert id="add" parameterType="com.trainingcenter.bean.Resource">
        INSERT INTO tab_resource(<include refid="resourceColumns"></include>)
        VALUES
        (#{resource.id},#{resource.name},#{resource.url},#{resource.state},#{resource.parentId},#{resource.orderNumber},#{resource.level},#{resource.iconStyle},
        #{resource.describe},#{resource.remarks},#{resource.createUserId},#{resource.createDate},#{resource.updateUserId},#{resource.updateDate})
    </insert>

    <!--
         public Integer update(@Validated(value = {TC_Update.class}) @Param("resource") Resource resource);
            更新资源信息
            -->
    <update id="update" parameterType="com.trainingcenter.bean.Resource">
        UPDATE tab_resource
        <trim prefix="set" suffixOverrides=",">
            <if test="resource.name != null and resource.name != '' ">
                `name` = #{resource.name},
            </if>
            <if test="resource.url != null and resource.url != '' ">
                url = #{resource.url},
            </if>
            <if test="resource.state != null">
                state = #{resource.state},
            </if>
            <if test="resource.parentId != null and resource.parentId != '' ">
                parent_id = #{resource.parentId},
            </if>
            <if test="resource.orderNumber != null">
                order_number = #{resource.orderNumber},
            </if>
            <if test="resource.level != null">
                `level` = #{resource.level},
            </if>
            <if test="resource.iconStyle != null and resource.iconStyle != '' ">
                icon_style = #{resource.iconStyle},
            </if>
            <if test="resource.describe != null and resource.describe != '' ">
                `describe` = #{resource.describe},
            </if>
            <if test="resource.remarks != null and resource.remarks != '' ">
                remarks = #{resource.remarks},
            </if>
            <if test="resource.updateUserId != null and resource.updateUserId != '' ">
                update_user_id = #{resource.updateUserId},
            </if>
            <if test="resource.updateDate != null ">
                update_date = #{resource.updateDate},
            </if>

        </trim>
        WHERE id = #{resource.id}
    </update>

    <!--
       public Integer delete(@Param("id") String id);
       通过id删除资源
       -->
    <delete id="delete">
        DELETE FROM tab_resource
        WHERE id = #{id}
    </delete>
</mapper>