<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingcenter.dao.rolePermissionMapper">
    <!--使用二级缓存-->
    <cache-ref namespace="com.trainingcenter.dao.LoginInfoMapper"></cache-ref>

    <sql id="rolePermissionColumns">
        id,role_id,permission_id,remarks,create_user_id,create_date,update_user_id,update_date
    </sql>

    <!--
        public Integer add(@Validated(value = {TC_Add.class}) @Param("rolePermission") RolePermission rolePermission);
        添加，在给角色授权时调用
    -->
    <insert id="add">
        INSERT INTO tab_role_permission(<include refid="rolePermissionColumns"/>)
        VALUES(#{rolePermission.id},#{rolePermission.roleId},#{rolePermission.permissionId},#{rolePermission.remarks},
        #{rolePermission.createUserId},#{rolePermission.createDate},#{rolePermission.updateUserId},#{rolePermission.updateDate})
    </insert>

    <!--public Integer delete(@Param("id") String id);
        删除，取消角色权限时调用
    -->
    <delete id="delete">
        DELETE FROM tab_role_permission
        WHERE id = #{id}
    </delete>

    <!--public Integer update(@Validated(value = {TC_Update.class})@Param("rolePermission") RolePermission rolePermission);
        更新，更新角色-权限信息时调用
    -->
    <update id="update">
        UPDATE tab_role_permission
        <trim prefix="set" suffixOverrides=",">
            <if test="rolePermission.roleId != null and rolePermission.roleId != '' ">
                role_id = #{rolePermission.roleId},
            </if>
            <if test="rolePermission.permissionId != null and rolePermission.permissionId != '' ">
                permission_id = #{rolePermission.permissionId},
            </if>
            <if test="rolePermission.remarks != null and rolePermission.remarks != '' ">
                remarks = #{rolePermission.remarks},
            </if>
            <if test="rolePermission.create_user_id != null and rolePermission.create_user_id != '' ">
                create_user_id = #{rolePermission.createUserId},
            </if>
            <if test="rolePermission.create_date != null and rolePermission.create_date != '' ">
                create_date = #{rolePermission.createDate},
            </if>
            <if test="rolePermission.update_user_id != null and rolePermission.update_user_id != '' ">
                update_user_id = #{rolePermission.updateUserId},
            </if>
            <if test="rolePermission.update_date != null and rolePermission.update_date != '' ">
                update_date = #{rolePermission.updateDate},
            </if>

        </trim>
        WHERE id = #{rolePermission.id}
    </update>

    <!--   public RolePermission getRolePermissionByRoleIdAndPermissionId(@Param("roleId") String roleId, @Param("permissionId") String permissionId);
        通过 角色id 与 权限id 获取角色-权限信息对象
    -->
    <select id="getRolePermissionByRoleIdAndPermissionId" resultType="com.trainingcenter.bean.RolePermission">
        SELECT <include refid="rolePermissionColumns"/>
        FROM tab_role_permission
        WHERE role_id = #{roleId} AND permission_id = #{permissionId}
    </select>
</mapper>