<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingcenter.dao.SpecialFoodMapper">
    <!--使用二级缓存-->
    <cache-ref namespace="com.trainingcenter.dao.UserMapper"></cache-ref>


    <sql id="specialFoodcolumns">
      id,title,imgs,content,remarks,createUserId,createDate,updateUserId,updateDate
    </sql>

    <!-- public SpecialFood getSpecialFoodById(@Param("id") String id);
        通过id获取动态培训
    -->
    <select id="getSpecialFoodById" resultType="com.trainingcenter.bean.SpecialFood">
        SELECT <include refid="specialFoodcolumns"></include>
        FROM tab_special_food
        WHERE id = #{id}
    </select>

    <!-- public List<SpecialFood> getSpecialFoods(Integer start, Integer number, String searchContent);
        分页查询所有动态培训
    -->
    <select id="getSpecialFoods" resultType="com.trainingcenter.bean.SpecialFood">
        SELECT <include refid="specialFoodcolumns"></include>
        FROM tab_special_food
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="searchContent != null and searchContent != ''">
                and (
                title like CONCAT('%',#{searchContent},'%') OR
                content like CONCAT('%',#{searchContent},'%') OR
                remarks like CONCAT('%',#{searchContent},'%')
                )
            </if>
        </trim>
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>

    <!--
    public Integer add(@Param("specialFood") SpecialFood specialFood;
    动态培训添加，需要开启 Mysql 的allowMultiQueries连接属性，即连接时添加allowMultiQueries=true
    -->
    <insert id="add" parameterType="com.trainingcenter.bean.SpecialFood">
        INSERT INTO tab_special_food(<include refid="specialFoodcolumns"></include>)
        VALUES (#{specialFood.id},#{specialFood.title},#{specialFood.imgs},#{specialFood.content},#{specialFood.remarks},#{specialFood.createUserId},#{specialFood.createDate},
        #{specialFood.updateUserId},#{specialFood.updateDate})
    </insert>

    <!--
            public Integer update(@Param("specialFood") SpecialFood specialFood);
            更新动态培训信息
            -->
    <update id="update" parameterType="com.trainingcenter.bean.SpecialFood">
        UPDATE tab_special_food
        <trim prefix="set" suffixOverrides=",">
            <if test="specialFood.title != null and specialFood.title != '' ">
                title = #{specialFood.title},
            </if>
            <if test="specialFood.imgs != null and specialFood.imgs != '' ">
                imgs = #{specialFood.imgs},
            </if>
            <if test="specialFood.content != null and specialFood.content != '' ">
                content = #{specialFood.content},
            </if>
            <if test="specialFood.remarks != null and specialFood.remarks != '' ">
                remarks = #{specialFood.remarks},
            </if>
            <if test="specialFood.createUserId != null and specialFood.createUserId != '' ">
                create_user_id = #{specialFood.createUserId},
            </if>
            <if test="specialFood.createDate != null ">
                create_date = #{specialFood.createDate},
            </if>
            <if test="specialFood.updateUserId != null and specialFood.updateUserId != '' ">
                update_user_id = #{specialFood.updateUserId},
            </if>
            <if test="specialFood.updateDate != null ">
                update_date = #{specialFood.updateDate},
            </if>

        </trim>
        WHERE id = #{specialFood.id}
    </update>

    <!--
       public Integer delete(@Param("id") String id);
       通过id删除动态培训
       -->
    <delete id="delete">
        DELETE FROM tab_special_food
        WHERE id = #{id}
    </delete>
</mapper>