<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainingcenter.dao.UserMapper">

    <!--用户表的所有列-->
    <sql id="userColumns">
        id,username,nickname,head_portrait_url,gender,phone,email,address,signature,
        user_type_id,`code`,`describe`,img_urls,state,remarks,create_user_id,create_date,
        update_user_id,update_date
    </sql>

    <!--
        public Integer add(@Param("user") User user);
        用户添加，需要开启 Mysql 的allowMultiQueries连接属性，即连接时添加allowMultiQueries=true
        -->
    <insert id="add" parameterType="com.trainingcenter.bean.User">
        INSERT INTO tab_user(<include refid="userColumns"></include>)
        VALUES (#{user.id},#{user.username},#{user.nickname},#{user.headPortraitUrl},#{user.gender},#{user.phone},
        #{user.email},#{user.address},#{user.signature},#{user.userTypeId},#{user.code},#{user.describe},
        #{user.imgUrls},#{user.state},#{user.remarks},#{user.createUserId},#{user.createDate},
        #{user.updateUserId},#{user.updateDate})
    </insert>

    <!--
        public Integer delete(@Param("id") String id);
        通过id删除用户
        -->
    <delete id="delete">
        DELETE FROM tab_user
        WHERE id = #{id}
    </delete>

    <!--
        public Integer update(@Param("user") User user);
        更新用户信息，支持批量更新
        -->
    <update id="update" parameterType="com.trainingcenter.bean.User">
        UPDATE tab_user
        <trim prefix="set" suffixOverrides=",">
            <if test="user.nickname != null and user.nickname != '' ">
                nickname = #{user.nickname},
            </if>
            <if test="user.headPortraitUrl != null and user.headPortraitUrl != '' ">
                head_portrait_url = #{user.headPortraitUrl}
            </if>
            <if test="user.gender != null">
                gender = #{user.gender}
            </if>
            <if test="user.phone != null and user.phone != '' ">
                phone = #{user.phone}
            </if>
            <if test="user.email != null and user.email != '' ">
                email = #{user.email}
            </if>
            <if test="user.address != null and user.address != '' ">
                address = #{user.address}
            </if>
            <if test="user.signature != null and user.signature != '' ">
                signature = #{user.signature}
            </if>
            <if test="user.userTypeId != null and user.userTypeId != '' ">
                user_type_id = #{user.userTypeId}
            </if>
            <if test="user.code != null and user.code != '' ">
                code = #{user.code}
            </if>
            <if test="user.describe != null and user.describe != '' ">
                describe = #{user.describe}
            </if>
            <if test="user.imgUrls != null and user.imgUrls != '' ">
                img_urls = #{user.imgUrls}
            </if>
            <if test="user.state != null">
                state = #{user.state}
            </if>
            <if test="user.remarks != null and user.remarks != '' ">
                remarks = #{user.remarks}
            </if>
            <if test="user.createUserId != null and user.createUserId != '' ">
                create_user_id = #{user.createUserId}
            </if>
            <if test="user.createDate != null">
                create_date = #{user.create_date}
            </if>
            <if test="user.updateUserId != null and user.updateUserId != '' ">
                update_user_id = #{user.updateUserId}
            </if>
            <if test="user.updateDate != null">
                update_date = #{user.updateDate}
            </if>
        </trim>
        WHERE id = #{user.id}
    </update>

    <!--
        public User getUserById(@Param("id") String id);
        通过id获取用户
        -->
    <select id="getUserById" resultType="com.trainingcenter.bean.User">
        SELECT
        <include refid="userColumns"></include>
        FROM tab_user
        WHERE id = #{id}
    </select>

    <!--
        public User getUserByUsername(@Param("username") String username);
        通过用户名获取用户
        -->
    <select id="getUserByUsername" resultType="com.trainingcenter.bean.User">
        SELECT
        <include refid="userColumns"></include>
        FROM tab_user
        WHERE username = #{username}
    </select>

    <!--
        public List<User> getUsers();
        查询所有用户
        -->
    <select id="getUsers" resultType="com.trainingcenter.bean.User">
        SELECT
        <include refid="userColumns"></include>
        FROM tab_user
        <trim prefix="where" prefixOverrides="and">
            <if test="searchContent != null and searchContent != ''">
                and (
                username like CONCAT('%',#{searchContent},'%') OR
                nickname like CONCAT('%',#{searchContent},'%') OR
                gender like CONCAT('%',#{searchContent},'%') OR
                phone like CONCAT('%',#{searchContent},'%') OR
                email like CONCAT('%',#{searchContent},'%') OR
                address like CONCAT('%',#{searchContent},'%') OR
                code like CONCAT('%',#{searchContent},'%') OR
                remarks like CONCAT('%',#{searchContent},'%')
                )
            </if>
            <if test="start != null and number != null">
                LIMIT #{start}, #{number}
            </if>
        </trim>
    </select>
</mapper>