<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trainingcenter.dao.UserMapper">

    <!-- 使用EhcacheCache二级缓存
		eviction：缓存的回收策略，默认为LRU
			LRU – 最近最少未使用的:移除最长时间不被使用的对象。
			FIFO – 先进先出:按对象进入缓存的顺序来移除它们。
			SOFT – 软引用:移除基于垃圾回收器状态和软引用规则的对象。
			WEAK – 弱引用:更积极地移除基于垃圾收集器状态和弱引用规则的对象。

		flushInterval：缓存刷新间隔，即多长时间清空一次缓存（单位毫秒），默认不清空

		readOnly：缓存是否只读(true|false)
			true：mybatis认为所有从缓存中获取数据的操作都是只读操作，不会修改数据，
						mybatis为了加快获取速度，直接就会将数据在缓存中的引用交给用户。不安全，但速度快。
			false：mybatis觉得获取的数据可能会被修改。
					mybatis会利用序列化&反序列化技术克隆一份新的数据给用户。安全，速度慢。

		size：缓存存放多少元素。

		type：指定自定义缓存的全类名，该类需要实现org.apache.ibatis.cache.Cache接口，
					mybatis默认使用HashMap进行缓存

		blocking（是否使用阻塞缓存）: 默认为false，当指定为true时将采用BlockingCache进行封装，
					blocking，阻塞的意思，使用BlockingCache会在查询缓存时锁住对应的Key，
					如果缓存命中了则会释放对应的锁，否则会在查询数据库以后再释放锁这样
					可以阻止并发情况下多个线程同时查询数据，详情可参考BlockingCache的源码。
	 -->
    <cache eviction="LRU" flushInterval="60000" readOnly="false" size="1024" blocking="false"
           type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

    <!--tab_user表的所有列-->
    <sql id="userColumns">
        id,username,password,login_IP,unlocked_flag,state,register_time,last_login_time
    </sql>

    <!--
        public User getUserById(@Param("id") String id);
        通过id获取登录信息
        -->
    <select id="getUserById" resultType="com.trainingcenter.bean.User">
        SELECT
        <include refid="userColumns"></include>
        FROM tab_user
        WHERE id = #{id}
    </select>

    <!--
         public User getUserByUsername(@Param("username") String username);
        通过username获取登录信息
        -->
    <select id="getUserByUsername" resultType="com.trainingcenter.bean.User">
        SELECT
        <include refid="userColumns"></include>
        FROM tab_user
        WHERE username = #{username}
    </select>

    <!-- public List<User> getUsers(@Param("start") Integer start, @Param("number") Integer number, @Param("condition") Map<String,Object> condition);
        分页查询普通用户，condition：自定义条件查询
    -->
    <select id="getUsers" resultType="com.trainingcenter.bean.User">
        SELECT
        id,username,login_IP,unlocked_flag,state,register_time,last_login_time
        FROM tab_user
        <trim prefix="WHERE" prefixOverrides="and">
            <if test="condition != null">
                <foreach collection="condition" index="key" item="value">
                    <if test="key == &quot;id&quot; and value != null and value != '' ">
                        and id = #{value}
                    </if>
                    <if test="key == &quot;username&quot; and value != null and value != '' ">
                        and username = #{value}
                    </if>
                    <if test="(key == &quot;login_IP&quot; or key == &quot;loginIP&quot;) and value != null and value != '' ">
                        and login_IP = #{value}
                    </if>
                    <if test="(key == &quot;unlocked_flag&quot; or key == &quot;unlockedFlag&quot;) and value != null and value != '' ">
                        and unlocked_flag = #{value}
                    </if>
                    <if test="key == &quot;state&quot; and value != null ">
                        and state = #{value}
                    </if>
                    <if test="(key == &quot;register_time&quot; or key == &quot;registerTime&quot;) and value != null and value != '' ">
                        and register_time = #{value}
                    </if>
                    <if test="(key == &quot;last_login_time&quot; or key == &quot;lastLoginTime&quot;) and value != null and value != '' ">
                        and last_login_time = #{value}
                    </if>
                    <if test="key == &quot;searchContent&quot; and value != null and value != '' ">
                        and(
                        username like CONCAT('%',#{value},'%')
                        OR login_IP like CONCAT('%',#{value},'%')
                        OR state = #{value}
                        OR unlocked_flag = #{value}
                        )
                    </if>
                </foreach>
            </if>
            and id NOT IN(
                SELECT u.id
                FROM tab_user u,tab_user_role ur,tab_role r
                WHERE u.id = ur.user_id and ur.role_id = r.id and FIND_IN_SET(r.name,'ADMIN,MANAGER') > 0
            )
        </trim>
        ORDER BY register_time DESC
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>

    <!--public List<User> getUsersForAdmin(@Param("start") Integer start, @Param("number") Integer number, @Param("condition") Map<String,Object> condition);
          分页查询管理员用户，condition：自定义条件查询
    -->
    <select id="getUsersForAdmin" resultType="com.trainingcenter.bean.User">
        SELECT
        u.id,u.username,u.login_IP,u.unlocked_flag,u.state,u.register_time,u.last_login_time
        FROM tab_user u,tab_user_role ur,tab_role r
        <trim prefix="WHERE" prefixOverrides="and">
            u.id = ur.user_id and ur.role_id = r.id and FIND_IN_SET(r.name,'ADMIN,MANAGER') > 0
            <if test="condition != null">
                <foreach collection="condition" index="key" item="value">
                    <if test="key == &quot;id&quot; and value != null and value != '' ">
                        and u.id = #{value}
                    </if>
                    <if test="key == &quot;username&quot; and value != null and value != '' ">
                        and u.username = #{value}
                    </if>
                    <if test="(key == &quot;login_IP&quot; or key == &quot;loginIP&quot;) and value != null and value != '' ">
                        and u.login_IP = #{value}
                    </if>
                    <if test="(key == &quot;unlocked_flag&quot; or key == &quot;unlockedFlag&quot;) and value != null and value != '' ">
                        and u.unlocked_flag = #{value}
                    </if>
                    <if test="key == &quot;state&quot; and value != null ">
                        and u.state = #{value}
                    </if>
                    <if test="(key == &quot;register_time&quot; or key == &quot;registerTime&quot;) and value != null and value != '' ">
                        and u.register_time = #{value}
                    </if>
                    <if test="(key == &quot;last_login_time&quot; or key == &quot;lastLoginTime&quot;) and value != null and value != '' ">
                        and u.last_login_time = #{value}
                    </if>
                    <if test="key == &quot;searchContent&quot; and value != null and value != '' ">
                        and(
                        u.username like CONCAT('%',#{value},'%')
                        OR u.login_IP like CONCAT('%',#{value},'%')
                        OR u.state = #{value}
                        OR u.unlocked_flag = #{value}
                        )
                    </if>
                </foreach>
            </if>
        </trim>
        ORDER BY u.register_time DESC
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>

    <!--
        public Integer add(@Validated(value = {TC_Add.class}) @Param("user") User user);
        添加/注册
        -->
    <insert id="add">
        INSERT INTO tab_user(<include refid="userColumns"/>)
        VALUES
        (#{user.id},#{user.username},#{user.password},#{user.loginIP},
        #{user.unlockedFlag},#{user.state},#{user.registerTime},#{user.lastLoginTime})
    </insert>


    <!--
        public Integer update(@Validated(value = {TC_Update.class}) @Param("user") User user);
        更新/修改
        -->
    <update id="update">
        UPDATE tab_user
        <trim prefix="set" suffixOverrides=",">
            <if test="user.password != null and user.password != '' ">
                password = #{user.password},
            </if>
            <if test="user.loginIP != null and user.loginIP != '' ">
                login_IP = #{user.loginIP},
            </if>
            <if test="user.unlockedFlag != null">
                unlocked_flag = #{user.unlockedFlag},
            </if>
            <if test="user.state != null">
                state = #{user.state},
            </if>
            <if test="user.lastLoginTime != null">
                last_login_time = #{user.lastLoginTime},
            </if>
        </trim>
        WHERE id = #{user.id}
    </update>

    <!--
        public Integer delete(@Param("id") String id);
        删除/注销
        -->
    <delete id="delete">
        DELETE FROM tab_user
        WHERE id = #{id}
    </delete>

    <!--public Collection<User> getUsersByRoleId(@Param("roleId") String roleId, @Param("start") Integer start,
                                                  @Param("number") Integer number, @Param("searchContent") String searchContent);
        返回含有该角色的所有用户，支持分页与模糊查询
    -->
    <select id="getUsersByRoleId" resultType="com.trainingcenter.bean.User">
        SELECT u.id,u.username,u.password,u.login_IP,u.unlocked_flag,u.state,u.register_time,u.last_login_time
        FROM tab_user u LEFT JOIN tab_user_role ur ON u.id = ur.user_id
        WHERE ur.role_id = #{roleId}
        <trim prefixOverrides="AND">
            <if test="searchContent != null and searchContent != '' ">
                AND ( u.username like CONCAT('%',#{searchContent},'%')
                OR u.password like CONCAT('%',#{searchContent},'%')
                OR u.login_IP like CONCAT('%',#{searchContent},'%')
                OR u.unlocked_flag = #{searchContent}
                OR u.state = #{searchContent}
                )
            </if>
        </trim>
        <if test="start != null and number != null">
            LIMIT #{start},#{number}
        </if>
    </select>
</mapper>