<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
        SpringMVC 只管网站页面跳转逻辑
     -->
    <!-- 配置自动扫描的包，springMVC只扫描控制器，禁用掉默认的过滤行为，使我们的include-filter生效 -->
    <context:component-scan base-package="com.trainingcenter" use-default-filters="false">
        <!-- 只扫描 标注了@Controller 的 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <!-- 指定所有页面的前缀 -->
        <property name="prefix" value="/webpages/"/>

        <!-- 指定所有页面的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 正确处理动态资源 -->
    <mvc:annotation-driven>
        <!--正确处理Restful邮箱类型的数据传输问题-->
        <mvc:path-matching registered-suffixes-only="true"/>
    </mvc:annotation-driven>

    <!-- 正确处理静态资源 -->
    <mvc:default-servlet-handler/>

    <!--开启security在 Controller 层的支持-->
    <!--2、开启基于表达式/注解的权限管理-->
    <security:global-method-security pre-post-annotations="enabled" jsr250-annotations="enabled" secured-annotations="enabled" proxy-target-class="true">
        <!--让方法支持自定义表达式-->
        <security:expression-handler ref="expressionHandler"/>
    </security:global-method-security>

</beans>